<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<title>Samuel Barraud</title>
		<meta name="description" content="Samuel Barraud 🇫🇷Fullstack Web Developer building stuff in Seoul" />
		<meta property="og:image" content="/meta.webp" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="628" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:image" content="/meta.webp" />
	</head>
	<body class="bg-gray-950">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
